<script>
    // Mude de localhost para a URL real do Render
    fetch('https://painel-digibee-1.onrender.com/listar-erros')
        .then(res => res.json())
        .then(data => {
            const tabela = document.getElementById('tabela-erros');
            data.forEach(e => {
                // Ajuste os nomes conforme o que você envia da Digibee:
                // e.mensagem, e.diagnostico_causa, e.acao_recomendada, e.link_monitor
                tabela.innerHTML += `<tr>
                    <td>${e.pipeline_name}</td>
                    <td>${e.diagnostico_causa}</td>
                    <td>${e.acao_recomendada}</td>
                    <td><a href="${e.link_monitor}" target="_blank">Acessar</a></td>
                </tr>`;
            });
        });
</script>